### Dosya İşlemleri ( File Operations )

In [107]:
f = open('test.txt', 'w')
print("Deneme0", file=f, flush=False)

In [108]:
print("Deneme1", file=f, flush=True)
print("Deneme2", file=f, flush=True)
f.write('Deneme3 f.write() kullanarak')

28

In [109]:
f.close()

In [110]:
f = open('test.txt', 'r')
print(f.read())

Deneme0
Deneme1
Deneme2
Deneme3 f.write() kullanarak

In [111]:
f.seek(0)
print(f.read())

Deneme0
Deneme1
Deneme2
Deneme3 f.write() kullanarak

In [112]:
f.seek(0)
print(f.readline())
print(f.readline())

f.seek(0)
print(f.readlines())

f.close()

Deneme0

Deneme1

['Deneme0\n', 'Deneme1\n', 'Deneme2\n', 'Deneme3 f.write() kullanarak']

# File Operations In Python

### 1. Opening Files

#### The **open()** function takes two parameters; filename, and mode.
#### There are four different methods (modes) for opening a file:

#### "r" - Read - Default value. Opens a file for reading, error if the file does not exist

#### "a" - Append - Opens a file for appending, creates the file if it does not exist

#### "w" - Write - Opens a file for writing, creates the file if it does not exist

#### "x" - Create - Creates the specified file, returns an error if the file exists

In [122]:
tally_cab_data = open("tally_cab.csv")
#or
#tally_cab_data = open("tally_cab.csv", "r")

### 2. Reading Files

#### The read() function is used to read the content of the file
#### The open() function returns a file object, which has a read() method for reading the content of the file

In [123]:
#print(tally_cab_data.read())

#By default the read() method returns the whole text, but you can also specify how many characters you want to return:

print(tally_cab_data.read(10))

"Distance

### 3. ReadLine
#### You can return one line by using the readline() method
#### By calling readline() two times, you can read the two first lines

In [124]:
print(tally_cab_data.readline())
print(tally_cab_data.readline())

(miles)", "Fare ($)"

 4.5,   18.00

### 4. Write to an Existing File

#### To write to an existing file, you must add a parameter to the open() function 
#### "a" - Append - will append to the end of the file
#### "w" - Write - will overwrite any existing content

In [126]:
new_file = open("new_file_1.txt", "a")
new_file.write("This is a new text x.")
new_file.close()

In [127]:
new_file = open("new_file_1.txt", "w")
new_file.write("The content has been replaced")
new_file.close()

### 5. Create a New File

#### To create a new file in Python, use the open() method, with one of the following parameters
#### "x" - Create - will create a file, returns an error if the file exist
#### "a" - Append - will create a file if the specified file does not exist
### "w" - Write - will create a file if the specified file does not exist

In [128]:
#another_new_file = open("new_file_2.txt", "x")

#another_new_file = open("new_file_2.txt", "a")

another_new_file = open("new_file_2.txt", "w")

### 6. Delete a File

#### To delete a file, you must import the OS module, and run its os.remove() function

In [129]:
import os
os.remove("new_file_2.txt")


# To delete an entire folder, use the os.rmdir() method

#os.rmdir("myFolder")


#Check if file exists, then delete it

#if os.path.exists("new_file_2.txt"):
  #os.remove("new_file_2.txt")
#else:
  #print("The file does not exist")

### 7. Close File
#### It is a good practice to always close the file when you are done with it.
#### Always close the file when you are finish with it.**bold text**

In [130]:
tally_cab_data.close()
new_file.close()
another_new_file.close()

# File Operations In Python By Pandas

# file Read Write operation

In [131]:
import numpy as np
import pandas as pd
np.set_printoptions(precision=4)

In [132]:
import pandas as pd

draft1 = pd.read_csv('ex1.csv')    # Supply the file name (path)

draft1.head(4)

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [133]:
draft2 = pd.read_table('test.tsv')  # Read a tsv into a DataFrame

draft2.head()

        test   test test.1 test.2 test.3
sudh    sudh   sudh   sudh   sudh   sudh
kumar  kumar  kumar  kumar  kumar  kumar

In [134]:
df = pd.read_csv('ex1.csv')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [135]:
pd.read_table('ex1.csv', sep=',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [136]:
pd.read_csv('ex2.csv', header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [139]:
df =pd.read_csv('ex2.csv', names=['asdfdsfs','fsdf', 'b', 'c', 'sudh', 'message'])
df

   asdfdsfs  fsdf   b   c   sudh  message
0         1     2   3   4  hello      NaN
1         5     6   7   8  world      NaN
2         9    10  11  12    foo      NaN

In [140]:
type(df)

pandas.core.frame.DataFrame

In [141]:
!cat csv_mindex.csv

key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

In [142]:
!cat ex4.csv
pd.read_csv('ex4.csv', skiprows=[0, 2, 3])

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [145]:
!cat ex5.csv
result = pd.read_csv('ex5.csv')
result
pd.isnull(result)

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [146]:
result = pd.read_csv('ex5.csv', na_values=['NULL'])
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [147]:
draft3 = pd.read_excel('Store_Sales_Data.xlsx',sheet_name = 'Returns') # Name of sheet to read from for excel file

draft3.head(6)

   Order ID    Status
0        65  Returned
1       612  Returned
2       614  Returned
3       678  Returned
4       710  Returned
5       740  Returned

In [148]:
titanic_train = pd.read_csv("https://raw.githubusercontent.com/SevdanurGENC/Python-Programming-For-Beginners-Lecture-Notes/main/Datasets/titanic_dataset/train.csv",
                           sep=',')

In [149]:
titanic_train.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [150]:
titanic_train[["Name","Pclass"]].head()

                                                Name  Pclass
0                            Braund, Mr. Owen Harris       3
1  Cumings, Mrs. John Bradley (Florence Briggs Th...       1
2                             Heikkinen, Miss. Laina       3
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)       1
4                           Allen, Mr. William Henry       3

In [151]:
titanic_train.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
                ...
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
Length: 12, dtype: object

In [152]:
pd.options.display.max_rows = 10

In [153]:
result = pd.read_csv('ex6.csv')
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [154]:
pd.read_csv('ex6.csv', nrows=5)

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [155]:
chunk = pd.read_csv('ex6.csv', chunksize=1000)
chunk

Writing Data to Text Format

In [156]:
data = pd.read_csv('ex5.csv')
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [157]:
data.to_csv('out.csv')
!cat out.csv

,something,a,b,c,d,message
0,one,1,2,3.0,4,
1,two,5,6,,8,world
2,three,9,10,11.0,12,foo

In [158]:
import sys
data.to_csv('out1.csv', sep='@')

In [159]:
data.to_csv(sys.stdout, na_rep='NULL')

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

In [160]:
data.to_csv('out2.csv', index=False, header=False)

In [161]:
data.to_csv('out3.csv', index=False, columns=['a', 'b', 'c'])

In [162]:
dates = pd.date_range('1/1/2000', periods=7)
ts = pd.Series(np.arange(7), index=dates)
ts.to_csv('/tseries.csv')
!cat tseries.csv

,0
2000-01-01,0
2000-01-02,1
2000-01-03,2
2000-01-04,3
2000-01-05,4
2000-01-06,5
2000-01-07,6

Working with Delimited Formats

In [163]:
import csv
f = open('ex7.csv')

reader = csv.reader(f)
reader

In [164]:
for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

In [165]:
with open('ex7.csv') as f:
    lines = list(csv.reader(f))

In [166]:
header, values = lines[0], lines[1:]

In [167]:
data_dict = {h: v for h, v in zip(header, zip(*values))}
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

JSON Data

In [168]:
obj = """
{"name": "Wes",
 "places_lived": ["United States", "Spain", "Germany"],
 "pet": null,
 "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
              {"name": "Katie", "age": 38,
               "pets": ["Sixes", "Stache", "Cisco"]}]
}
"""

In [169]:
import json
result = json.loads(obj)
result

{'name': 'Wes',
 'pet': None,
 'places_lived': ['United States', 'Spain', 'Germany'],
 'siblings': [{'age': 30, 'name': 'Scott', 'pets': ['Zeus', 'Zuko']},
  {'age': 38, 'name': 'Katie', 'pets': ['Sixes', 'Stache', 'Cisco']}]}

In [170]:
asjson = json.dumps(result)

In [171]:
siblings = pd.DataFrame(result['siblings'], columns=['name', 'age','pets'])
siblings

    name  age                    pets
0  Scott   30            [Zeus, Zuko]
1  Katie   38  [Sixes, Stache, Cisco]

In [172]:
!cat example.json

[{"a": 1, "b": 2, "c": 3},
 {"a": 4, "b": 5, "c": 6},
 {"a": 7, "b": 8, "c": 9}]

In [173]:
data = pd.read_json('example.json')
data

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [174]:
print(data.to_json())
print(data.to_json(orient='records'))

{"a":{"0":1,"1":4,"2":7},"b":{"0":2,"1":5,"2":8},"c":{"0":3,"1":6,"2":9}}
[{"a":1,"b":2,"c":3},{"a":4,"b":5,"c":6},{"a":7,"b":8,"c":9}]

XML and HTML: Web Scraping

In [175]:
tables = pd.read_html('fdic_failed_bank_list.html')
len(tables)
failures = tables[0]
failures.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","November 17, 2016"
1,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,"August 19, 2016","November 17, 2016"
2,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,"May 6, 2016","September 6, 2016"
3,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,"April 29, 2016","September 6, 2016"
4,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,"March 11, 2016","June 16, 2016"

In [176]:
close_timestamps = pd.to_datetime(failures['Closing Date'])
close_timestamps.dt.year.value_counts()
#close_timestamps

2010    157
2009    140
2011     92
2012     51
2008     25
       ...
2004      4
2001      4
2007      3
2003      3
2000      2
Name: Closing Date, Length: 15, dtype: int64

# Binary Data Formats

In [177]:
frame = pd.read_csv('ex1.csv')
frame
frame.to_pickle('frame_pickle')

In [178]:
pd.read_pickle('frame_pickle')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

Using HDF5 Format

In [179]:
frame = pd.DataFrame({'a': np.random.randn(100)})
store = pd.HDFStore('mydata.h5')
store['obj1'] = frame
store['obj1_col'] = frame['a']
store

<class 'pandas.io.pytables.HDFStore'>
File path: mydata.h5

In [180]:
store['obj1']

           a
0   0.009692
1   0.662674
2   0.893154
3   0.984948
4  -2.257538
..       ...
95 -0.476102
96  0.223598
97 -0.114358
98 -1.414202
99 -1.598874

[100 rows x 1 columns]

In [181]:
store.put('obj2', frame, format='table')
store.select('obj2', where=['index >= 10 and index <= 15'])
store.close()

In [182]:
frame.to_hdf('mydata.h5', 'obj3', format='table')
pd.read_hdf('mydata.h5', 'obj3', where=['index < 5'])

          a
0  0.009692
1  0.662674
2  0.893154
3  0.984948
4 -2.257538

# Web APIs

In [183]:
import requests
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'
resp = requests.get(url)
resp

In [184]:
data = resp.json()
data[2]['user']

{'avatar_url': 'https://avatars.githubusercontent.com/u/33491632?v=4',
 'events_url': 'https://api.github.com/users/MarcoGorelli/events{/privacy}',
 'followers_url': 'https://api.github.com/users/MarcoGorelli/followers',
 'following_url': 'https://api.github.com/users/MarcoGorelli/following{/other_user}',
 'gists_url': 'https://api.github.com/users/MarcoGorelli/gists{/gist_id}',
 'gravatar_id': '',
 'html_url': 'https://github.com/MarcoGorelli',
 'id': 33491632,
 'login': 'MarcoGorelli',
 'node_id': 'MDQ6VXNlcjMzNDkxNjMy',
 'organizations_url': 'https://api.github.com/users/MarcoGorelli/orgs',
 'received_events_url': 'https://api.github.com/users/MarcoGorelli/received_events',
 'repos_url': 'https://api.github.com/users/MarcoGorelli/repos',
 'site_admin': False,
 'starred_url': 'https://api.github.com/users/MarcoGorelli/starred{/owner}{/repo}',
 'subscriptions_url': 'https://api.github.com/users/MarcoGorelli/subscriptions',
 'type': 'User',
 'url': 'https://api.github.com/users/MarcoGorelli'}

In [ ]:
issues = pd.DataFrame(data, columns=['number', 'title',
                                     'labels', 'state'])
issues

# Interacting with Databases

In [83]:
import sqlite3
#connecting with the database.
db = sqlite3.connect("my_database4.db")
# Drop table if it already exist using execute() method.
db.execute("drop table if exists test")
query = """
CREATE TABLE test
(a VARCHAR(20), b VARCHAR(20),
 c REAL,        d INTEGER
);"""
con = sqlite3.connect('mydata2.sqlite')
con.execute(query)
con.commit()

In [186]:
data = [('Atlanta', 'Georgia', 1.25, 6),
        ('Tallahassee', 'Florida', 2.6, 3),
        ('Sacramento', 'California', 1.7, 5)]
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"
con.executemany(stmt, data)
con.commit()

In [187]:
cursor = con.execute('select * from test')
rows = cursor.fetchall()
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5),
 ('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

In [188]:
cursor.description
pd.DataFrame(rows, columns=[x[0] for x in cursor.description])

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5
3      Atlanta     Georgia  1.25  6
4  Tallahassee     Florida  2.60  3
5   Sacramento  California  1.70  5

In [189]:
#!/usr/bin/python

import sqlite3
#connecting with the database.
db = sqlite3.connect("my_database5.db")
# Drop table if it already exist using execute() method.
db.execute("drop table if exists grades1")
# Create table as per requirement
db.execute("create table grades1(id int, name text, score int)")
#inserting values inside the created table
db.execute("insert into grades1(id, name, score) values(101, 'John',99 )")
db.execute("insert into grades1(id, name, score) values(102, 'Gary',90 )")
db.execute("insert into grades1(id, name, score) values(103, 'James', 80 )")
db.execute("insert into grades1(id, name, score) values(104, 'Cathy', 85 )")
db.execute("insert into grades1(id, name, score) values(105, 'Kris',95 )")

In [190]:
db.commit()

In [191]:
results = db.execute("select * from grades1 order by id")
for row in results:
    print((row))
print("-" * 60 )

(101, 'John', 99)
(102, 'Gary', 90)
(103, 'James', 80)
(104, 'Cathy', 85)
(105, 'Kris', 95)
------------------------------------------------------------

In [192]:
results = db.execute("select * from grades1 where name = 'Gary' ")
for row in results: print(row)
print("-"* 60 )

(102, 'Gary', 90)
------------------------------------------------------------

In [193]:
results = db.execute("select * from grades1 where score >= 90 ")
for row in results:
    print(row)
print("-" * 60 )

(101, 'John', 99)
(102, 'Gary', 90)
(105, 'Kris', 95)
------------------------------------------------------------

In [194]:
results = db.execute("select name, score from grades1 order by score desc ")
for row in results:
    print(row)
print("-" * 60 )

('John', 99)
('Kris', 95)
('Gary', 90)
('Cathy', 85)
('James', 80)
------------------------------------------------------------

In [195]:
results = db.execute("select name, score from grades1 order by score")
for row in results:
    print(row)
print("-" * 60 )

('James', 80)
('Cathy', 85)
('Gary', 90)
('Kris', 95)
('John', 99)
------------------------------------------------------------

In [196]:
results = db.execute("select name, score from grades1 order by score")
for row in results:
    print(row)

('James', 80)
('Cathy', 85)
('Gary', 90)
('Kris', 95)
('John', 99)